

<div id="clock"  #clock style="margin:50px ;"></div>
<div class="firstBlock">
    <mat-card class='card'>

<div class="timerBlock" style='height: 40px;' >
  <!-- create a timer that will count from 10 to 0 seconds -->

  <div class="timer" style="margin-bottom: 10px;">
    <h4> Count down timer </h4>
    <h2><span class="floating" id="format">HH: MM: SS</span></h2>
    <span id="hours"> {{0}} |  </span>
    <span id="minutes"> {{0}} |</span>
    <span id="second">  </span>
  </div>

</div>
<div class="buttonBloc">
      <button mat-button onclick="startCount(); toggleTextButton()" id="toggleText" style="background-color:rgba(57, 130, 57, 0.418); backdrop-filter: blur(10px);">Start</button>
      <button mat-button style="background-color: rgba(255, 140, 0, 0.459); backdrop-filter: blur(10px);">Wait</button>
      <button mat-button onclick="resetCount()" style="background-color: rgba(255, 72, 0, 0.562); backdrop-filter: blur(10px);">Reset</button>

    </div>
  </mat-card>
  </div>


<!--  <span>{{sec| date:'mediumTime'}}</span>
   <span>{{sec}}</span> -->
